body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
}

/* Side Bar */
.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When your mouse is over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(218, 147, 33);
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 20px;
    
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

}

/* Header Image */
.top-header {
    width: 100%;
    background-image: url(../Website-Images/header-background.webp);
    background-size: cover;
    background-position: center;
    
}

.top-header>h1 {
    color: white;
    padding: 0.5em 1em;
    font-family: sans-serif;
}

/* changes footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}



/* Images Hover Zoom Out */
.rifles-pictures figure {
    width: 450px;
}

.rifles-pictures figure img {

    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.rifles-pictures figure:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}


#teamsTable th,
td {
    padding: 8px;
    text-align: left;
}

.tablePaddingLeft {
    padding-left: 1000px;
    text-align: left;
}

