body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(222, 155, 53, 0.882);
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
}

main {
    padding: 20px;
}

#teamsTable th,
td {
    padding: 8px;
    text-align: left;
}

.tablePaddingLeft {
    padding-left: 1000px;
    text-align: left;
}

.tablePaddingRight {
    /*padding-right: -500px;
    padding-inline: 50px;*/
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}