body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dark-mode {
    background-color: white;
}

.dark-mode .top-header {
    width: 100%;
    height: 175px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.699) 70%, white 95%), url(../Website-Images/header-background.webp);
}

.dark-mode p {
    color: black;
}

.dark-mode footer p {
    color: white;
}

.dark-mode .container h1,
.dark-mode .container #end-text,
.dark-mode .container {
    color: black;
}

.dark-mode #maps-list ul,
.dark-mode #second-maps-list ul {
    color: black;
}

/* Scroll to top Button */

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    /* Update to the desired lighter color */
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    /* Make the button round */
}

#scrollTopBtn:hover {
    background-color: #555;
}


/* Side Bar */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

.sidebar {
    min-height: 100%;
    width: 78px;
    padding: 6px 14px;
    z-index: 99;
    background: linear-gradient(#ff9f2a, #e18127);
    transition: all .5s ease;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar.open {
    width: 200px;
}

.sidebar .logo_details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}


.sidebar .logo_details img {
    width: 45px;
    height: 45px;
    opacity: 0;
}

.sidebar .logo_details .logo_name {
    font-size: 22px;
    font-weight: 600;
    opacity: 0;
    transition: all .5s ease;
    font-family: 'Kdam Thmor Pro';
}

.sidebar.open .logo_details .logo_name,
.sidebar.open .logo_details img {
    opacity: 1;
}

.sidebar .logo_details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
}

.sidebar.open .logo_details #btn {
    text-align: right;

}

.sidebar i {
    color: black;
    height: 60px;
    line-height: 60px;
    min-width: 50px;
    font-size: 25px;
    text-align: center;

}

.sidebar .nav_list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    position: relative;
    transition: all .5s ease;
    z-index: 12;
}

.sidebar li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color: rgb(22, 21, 21);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    z-index: -2;
}

.sidebar li a:hover::after {
    transform: scaleX(1);
    color: rgb(211, 139, 6);
}

.sidebar li a .link_name {
    color: black;
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: auto;
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 0;
}

/* If hover, name color changes */
.sidebar li a:hover .link_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: rgb(211, 139, 6);
}

.sidebar.open li a .link_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li i {
    height: 80px;
    line-height: 80px;
    font-size: 25px;
    border-radius: 5px;
}

.toggleMode {
    cursor: pointer;
}

.sidebar li.toggleMode {
    margin-top: 120px;
}


/* Header Image */
.top-header {
    width: 100%;
    height: 175px;
    background-image: linear-gradient(to bottom, transparent 0%, #000000bd 70%, #000000 95%), url(../Website-Images/header-background.webp);
    background-size: cover;
    background-position: center;
}

.top-header a {
    display: inline-block;
    color: #f08d15;
    margin-left: 125px;
    margin-top: 75px;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.top-header a:hover {
    transform: scale(1.09);
    /* Added hover animation */
}

/* changes footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

/* Homepage */

#homepage-container {
    margin-left: 100px;
}

.section-text {
    color: white;
    padding-right: 10px;
}

.section-text p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 100px;
}

#iframe {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#iframe iframe {
    border: none;
}

.section-title h2 {
    margin-left: 10px;
    color: #ed8d19;
    font-family: 'Staatliches';
    text-shadow: 1px 1px 2px #fb9416;
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 30px;
}

.section-title span {
    display: inline-block;
    border-bottom: 3px #ed8d19 solid;
    margin-bottom: 25px;
    width: 88%;

}

.gamemode-title h2 {
    text-align: center;
    text-decoration: underline;
    color: #ed8d19;
    font-family: 'Staatliches';
    text-shadow: 1px 1px 2px #fb9416;
    margin-top: 50px;
    font-size: 30px;
}

.image-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* design link */
.link {
    text-decoration: none;
    color: #ce7d1a;
    cursor: pointer;
}

/* mouse over link */
.link:hover {
    color: #fda02e;

}

#competitive-mode p {
    margin-bottom: 40px;
}

#ranks-title {
    color: #f08d15;
    text-decoration: underline;
    font-family: 'Staatliches';
    font-size: 20px;
    margin-bottom: 20px;
}

#ranks-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ranks-list li {
    margin: 0 10px;
    text-align: center;
    margin-bottom: 20px;
}

#ranks-list li img {
    width: 100px;
}

#ranks-list li span {
    color: white;
    display: block;
    margin-top: 5px;
}

/* Weapons Page */
.rifles-pictures figure {
    width: 300px;
}

#column1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;

}

#assault-rifles {
    padding-right: 20%;
    float: left;
}

#sniper-rifles {
    float: right;
}

#column2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;

}

#mp-rifles {
    padding-right: 20%;
    float: left;
}

#heavy-weapons {
    float: right;
}

#column3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;

}

#pistols {
    padding-right: 20%;
    float: left;
}


.all-weapons span {
    position: absolute;
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #ed8d19;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
    font-family: 'Staatliches', cursive;
}

.rifles-pictures figure:hover+span {
    margin-top: 75px;
    opacity: 1;
}


.all-weapons {
    display: grid;
    grid-gap: 20px;
    /* Adjust the gap between images*/
    padding: 20px;
    /* Add padding around the grid */
}

.rifles-pictures {
    background: linear-gradient(45deg, #ca7710, #e8982c);
    border-radius: 10px;
    /* Add rounded corners to the image containers */
    padding: 10px;
    /* Add padding inside the image containers */
    text-align: center;
}

/* Images Hover Zoom Out */
.rifles-pictures figure img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.rifles-pictures figure:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Page Titles */
.pageTitle h1 {
    margin-left: 110px;
    color: #ed8d19;
    font-family: 'Staatliches';
    font-size: 40px;
    text-shadow: 1px 1px 2px #fb9416;
    margin-bottom: 10px;
    margin-top: 20px;
}

.pageTitle span {
    display: inline-block;
    border-bottom: 3px #ed8d19 solid;
    margin-left: 100px;
    margin-bottom: 50px;
    width: 88%;
}

/* Weapon Tables design*/
.weaponsTable {
    margin-top: 50px;

}

.weaponsTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.weaponsTable td,
th {
    color: white;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ed8d19;
}

.weaponsTable tr:nth-child(even) {
    background-color: #353232;
}

.weaponsTable tr:hover {
    background-color: #ed8d19;
}



#teamsTable th,
td {
    padding: 8px;
    text-align: left;
}

.tablePaddingLeft {
    padding-left: 1000px;
    text-align: left;
}

/* Esport Page */

#esport-container {
    background-color: rgb(0, 0, 20);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
}

.teamTextColor th,
td,
h1 {
    color: orange;
}

/* Table Design Top 10 */
#top10 {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 107);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(0, 0, 48);
    overflow: hidden;
}

#top10 table {
    border-collapse: separate;
    border-spacing: 0;
}

#top10 th,
#top10 td {
    padding: 13px;
    text-align: center;
    border: none;
}

#top10 thead {
    background-color: rgb(0, 0, 78);
    color: orange;
    border-radius: 10px;
}

#top10 th {
    font-weight: bold;
}

#top10 tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

#top10 td {
    position: relative;
}

#top10 td img {
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 3px solid rgb(0, 0, 83);
    transition: transform 0.3s ease-in-out;
}

#top10 td:hover img {
    transform: scale(1.1);
}

/* Table Design all Teams */
#allteams {
    max-width: 1200px;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: darkblue;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    border: 1px solid rgb(0, 0, 68);
    border-radius: 10px;
    overflow: hidden;
}

#allteams thead {
    background-color: darkblue;
    color: orange;
}

#allteams th,
table td {
    padding: 12px;
    border: none;
}

#allteams tbody tr:nth-child(even) {
    background-color: #0a0a33;
}

#allteams tbody tr:hover {
    background-color: #05054267;
}

#allteams tbody td img {
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

#allteams caption {
    font-weight: bold;
    margin-bottom: 10px;
}

#allteams tfoot {
    font-weight: bold;
}

#teamsChanges {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;

    font-size: 1.15vw;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.3;

    position: relative;
    white-space: nowrap;

    &:after {
        --deco-height: 0.3125em;
        content: "";
        position: absolute;
        left: 0%;
        right: 0%;
        bottom: calc(var(--deco-height) * -0.625);
        height: var(--deco-height);
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: auto 100%;
        background-repeat: round;
        background-position: center;
    }
}

#teamsChanges dl,
dd {
    color: lightblue;
}

#teamTextColor {
    color: orange;
    margin-left: 10%;
}

#teamsChanges dl>dd>p {
    color: rgb(101, 155, 173);
    padding-left: 90%;
    font-size: 0.7vw;
    padding: -50px;
    margin-bottom: 10px;
}

table>thead th {
    padding: 15px;
}

table th,
table td {
    padding: 10px 15px;
}

table>tbody>tr>td>img {
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 3px solid darkblue;
}

.sql {
    color: red;
}


/* Maps Page */

#maps-container {
    margin-left: 100px;
}

#maps-container b {
    font-size: 20px;
}

.section-text {
    color: white;
    padding-right: 10px;
}

.section-text p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 100px;
}

.section-title h2 {
    margin-left: 10px;
    color: #ed8d19;
    font-family: 'Staatliches';
    text-shadow: 1px 1px 2px #fb9416;
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 30px;
}

.section-title span {
    display: inline-block;
    border-bottom: 3px #ed8d19 solid;
    margin-bottom: 25px;
    width: 88%;

}

#maps-list ul {
    list-style-type: disc;
    padding-left: 20px;
    color: white;
}

#maps-list li {
    margin-bottom: 5px;
}

#second-maps-list {
    margin-top: -80px;
}

#second-maps-list ul {
    list-style-type: disc;
    padding-left: 20px;
    color: white;
}

#second-maps-list li {
    margin-bottom: 5px;
}

.map-name h2 {
    text-align: center;
    text-decoration: underline;
    color: #ed8d19;
    font-family: 'Staatliches';
    text-shadow: 1px 1px 2px #fb9416;
    margin-top: 50px;
    font-size: 30px;
}



/* Quiz page */

.container {
    font-family: 'Nova Square';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

#container-center {
    margin-top: 100px;
}

.container h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2.8rem;
}

#skinImageContainer {
    display: flex;
    justify-content: center;
}

#skinImageContainer img {
    width: 425px;
    height: 425px;
    object-fit: contain;
}

.container h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

#quiz-header {
    font-size: 4.5rem;
}

#question h1 {
    font-size: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-family: 'Nova Square';
    font-size: 2.2rem;
    padding: 1.5rem 0;
    width: 25rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, #f08d15 0%, #cf7622 100%);
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(223, 126, 36, 0.6);
    transition: transform 150ms;
    transform: scale(1.02);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#playAgainBtn {
    font-family: 'Nova Square';
    font-size: 2.2rem;
    padding: 1.5rem 0;
    width: 25rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, #f08d15 0%, #cf7622 100%);
    border-radius: 4px;
}

#playAgainBtn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(223, 126, 36, 0.6);
    transition: transform 150ms;
    transform: scale(1.02);
}

#highscore-btn {
    background: linear-gradient(90deg, rgb(168, 13, 13) 0%, rgb(180, 3, 3) 100%);
}

#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 29, 4, 0.5);
}

/* End Page */
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 15rem;
    padding: 1.5rem;
    font-size: 1.4rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(236, 122, 15, 0.815);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

#saveScoreButton {
    border: none;
}


.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(28, 26, 26)
}